<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="VSOffline" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="VSOffline">
      <package pattern="mstest.*" />
      <package pattern="microsoft.net.test.sdk" />
    </packageSource>
  </packageSourceMapping>
</configuration>
